fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #999;
    border-radius: 6px;
    min-width: 200px;
}

legend {
    font-size: 1.25em;
    padding: 0 .25em;
    color: black;
}

label {
    display: block;
    margin-top: 1em;
    font-size: 20px;
}

input {
    padding: .5em;
    border: solid 1px black;
    width: auto;
    height: 1em;
}

textarea {
    margin-top: 1em;
    min-height: 8em;
    min-width: 50%;
    padding: .5em;
    border: solid 1px #999;
}


output {
    width: auto;
    height: 1em;
}

button {
    margin-top: 1em;
    padding: .5em 1em;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
}

.ctype {
    border: solid 1px black;
    height: 2em;
    width: auto;
}

.cvalues {
    border: solid 1px black;
    height: 2em;
}

.cvalue {
    border: solid 1px black;
    height: 1em;
    width: auto;
}

.side-links {
    position: fixed;
    top: 15px;
    right: 15px;
  }
  
.side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    width: 180px;
    padding: 10px 0;
    border-radius: 10px;
  }

.side-link-github {
    background-color: #6e5494;
  }
  
.side-link-text {
    margin-left: 10px;
    font-size: 18px;
  }
  
.side-link-icon {
    color: white;
    font-size: 30px;
  }

@media screen and (min-width: 430px) {
    legend {
        font-size: 1.75em;
    }

    fieldset {
        width: 40%;
        min-width: 320px;
        margin: auto;
    }

}